## Pair Programming - Regresión lineal 6

### Estandarización

---

In [122]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

En este ejercicio de pair programming seguiréis usando el dataset que seleccionasteis.

En vuestro dataset habréis identificado unas variables predictoras y una variable respuesta. Los objetivos del pair programming de hoy son:
- Sobre las variables predictoras, en este caso deberéis estandarizar estas variables. De nuevo, usad el método que prefiráis.

In [123]:
df = pd.read_csv("../archivos/metro_2.csv", index_col=0)
df.head()
#Usamos el csv obtenido del archivo pp_regresion_lineal_05_B

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,traffic_box
10,None,290.97,0.0,0.0,20,Clouds,few clouds,2012-10-02 19:00:00,3539,2101.064038
11,None,289.38,0.0,0.0,1,Clear,sky is clear,2012-10-02 20:00:00,2784,1681.830454
12,None,288.61,0.0,0.0,1,Clear,sky is clear,2012-10-02 21:00:00,2361,1443.409194
20,None,278.62,0.0,0.0,1,Clear,sky is clear,2012-10-03 05:00:00,2718,1644.814972
30,None,290.65,0.0,0.0,20,Clouds,few clouds,2012-10-03 19:00:00,3591,2129.680912

In [124]:
numericas = df.select_dtypes(include= np.number)

In [125]:
numericas.drop(['traffic_volume', 'traffic_box'], axis= 1, inplace=True)

In [126]:
scaler = StandardScaler()

In [127]:
scaler.fit(numericas)

StandardScaler()

In [128]:
transformacion = scaler.transform(numericas)

In [129]:
df_transformacion = pd.DataFrame(transformacion, columns= numericas.columns).reset_index()

In [130]:
df_transformacion

       index      temp  rain_1h   snow_1h  clouds_all
0          0  0.738354 -0.13315 -0.032598   -0.753862
1          1  0.619383 -0.13315 -0.032598   -1.241251
2          2  0.561768 -0.13315 -0.032598   -1.241251
3          3 -0.185732 -0.13315 -0.032598   -1.241251
4          4  0.714410 -0.13315 -0.032598   -0.753862
...      ...       ...      ...       ...         ...
11059  11059 -0.036083 -0.13315 -0.032598    1.041785
11060  11060  0.020784 -0.13315 -0.032598    0.657003
11061  11061  0.175672 -0.13315 -0.032598    0.657003
11062  11062  0.124042 -0.13315 -0.032598    1.041785
11063  11063  0.121798 -0.13315 -0.032598    1.041785

[11064 rows x 5 columns]

In [131]:
df_mini= df[["weather_main", "traffic_box", "traffic_volume"]].reset_index()
df_mini

       index  weather_main  traffic_box  traffic_volume
0         10        Clouds  2101.064038            3539
1         11         Clear  1681.830454            2784
2         12         Clear  1443.409194            2361
3         20         Clear  1644.814972            2718
4         30        Clouds  2129.680912            3591
...      ...           ...          ...             ...
11059  48187        Clouds  1736.675190            2882
11060  48188        Clouds  2190.117514            3701
11061  48199        Clouds  2103.266420            3543
11062  48200        Clouds  1680.149333            2781
11063  48201  Thunderstorm  1328.478453            2159

[11064 rows x 4 columns]

In [132]:
df_mini.drop("index", axis=1, inplace=True)

In [133]:
df_mini.reset_index()

       index  weather_main  traffic_box  traffic_volume
0          0        Clouds  2101.064038            3539
1          1         Clear  1681.830454            2784
2          2         Clear  1443.409194            2361
3          3         Clear  1644.814972            2718
4          4        Clouds  2129.680912            3591
...      ...           ...          ...             ...
11059  11059        Clouds  1736.675190            2882
11060  11060        Clouds  2190.117514            3701
11061  11061        Clouds  2103.266420            3543
11062  11062        Clouds  1680.149333            2781
11063  11063  Thunderstorm  1328.478453            2159

[11064 rows x 4 columns]

In [134]:
df_total= pd.concat([df_transformacion, df_mini], axis=1)

In [135]:
df_total

,index,temp,rain_1h,snow_1h,clouds_all,weather_main,traffic_box,traffic_volume
0,0,0.738354,-0.13315,-0.032598,-0.753862,Clouds,2101.064038,3539
1,1,0.619383,-0.13315,-0.032598,-1.241251,Clear,1681.830454,2784
2,2,0.561768,-0.13315,-0.032598,-1.241251,Clear,1443.409194,2361
3,3,-0.185732,-0.13315,-0.032598,-1.241251,Clear,1644.814972,2718
4,4,0.714410,-0.13315,-0.032598,-0.753862,Clouds,2129.680912,3591
...,...,...,...,...,...,...,...,...
11059,11059,-0.036083,-0.13315,-0.032598,1.041785,Clouds,1736.675190,2882
11060,11060,0.020784,-0.13315,-0.032598,0.657003,Clouds,2190.117514,3701
11061,11061,0.175672,-0.13315,-0.032598,0.657003,Clouds,2103.266420,3543
11062,11062,0.124042,-0.13315,-0.032598,1.041785,Clouds,1680.149333,2781
11063,11063,0.121798,-0.13315,-0.032598,1.041785,Thunderstorm,1328.478453,2159

____

- Guardar en un csv el nuevo dataframe que habéis creado para seguir usándolo en los siguientes pair programmings

In [136]:
df_total.to_csv('../archivos/metro_3.csv')